<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>co.unkitsolutions.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartServlet</servlet-name>
        <servlet-class>co.unkitsolutions.servlets.AddPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>co.unkitsolutions.servlets.AddVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginLdapServlet</servlet-name>
        <servlet-class>co.unkitsolutions.servlets.LoginLdapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePartServlet</servlet-name>
        <servlet-class>co.unkitsolutions.servlets.UpdatePartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>co.unkitsolutions.servlets.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartServlet</servlet-name>
        <url-pattern>/addPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/addVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginLdapServlet</servlet-name>
        <url-pattern>/loginLdapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePartServlet</servlet-name>
        <url-pattern>/updatePartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/addEmployeeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <security-role>
        <description/>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ADMIN</role-name>
    </security-role>
    <distributable/>
</web-app>
